<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body class="bg-light">

<div class="row">
    <div class="col col-lg-3">
        <a th:href="@{/all_tasks/add_task}" class="btn btn-lg btn-block btn-outline-primary" role="button"
           aria-disabled="true">Добавить задание</a>
    </div>
    <div class="col col-lg-3">
        <a th:href="@{/}" class="btn btn-lg btn-block btn-outline-primary" role="button"
           aria-disabled="true">На главную</a>
    </div>
</div>

<div class="container">
    <br/>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-justify">#</th>
                <th class="text-justify">Название</th>
                <th class="text-justify">Когда создан</th>
                <th class="text-justify">Описание</th>
                <th class="text-justify">Кто дал задание</th>
                <th class="text-justify">Кому дали задание</th>
                <th class="text-justify"></th>
                <th class="text-justify"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td class="align-middle"><span th:text="${task.id}"/></td>
                <td class="align-middle"><span th:text="${task.title}"/></td>
                <td class="align-middle"><span th:text="${#temporals.format(task.created, 'dd-MMM-yyyy, HH:mm')}"/></td>
                <td class="align-middle"><span th:text="${task.description}"/></td>
                <td class="align-middle"><span th:text="${task.whoGaveTask.name}"/></td>
                <td class="align-middle"><span th:text="${task.whoGivenTask.name}"/></td>
                <td><a th:href="'all_tasks/' + ${task.id}"><button class="btn btn-lg btn-block btn-outline-primary">Подробнее</button></a></td>
                <td><a th:href="'all_tasks/' + ${task.id} + '/edit_task'"><button class="btn btn-lg btn-block btn-outline-primary">Редактировать</button></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Optional JavaScript -->

</body>
</html>