<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Corporate Portal</title>
</head>
<body class="bg-light">

<div class="row">
    <div class="col col-lg-3">
        <a th:href="@{/all_employees/add_employee}" class="btn btn-lg btn-block btn-outline-primary" role="button"
           aria-disabled="true">Добавить сострудника</a>
    </div>
    <div class="col col-lg-3">
        <a th:href="@{/all_employees}" class="btn btn-lg btn-block btn-outline-primary" role="button"
           aria-disabled="true">Все сотрудники</a>
    </div>
    <div class="col col-lg-3">
        <a th:href="@{/all_reports/add_report}" class="btn btn-lg btn-block btn-outline-primary" role="button"
           aria-disabled="true">Добавить отчёт</a>
    </div>
    <div class="col col-lg-3">
        <a th:href="@{/all_reports}" class="btn btn-lg btn-block btn-outline-primary" role="button"
           aria-disabled="true">Все отчёты</a>
    </div>
    <div class="col col-lg-3">
        <a th:href="@{/all_tasks}" class="btn btn-lg btn-block btn-outline-primary" role="button"
           aria-disabled="true">Все задачи</a>
    </div>
    <div class="col col-lg-3">
        <a th:href="@{/all_tasks/add_task}" class="btn btn-lg btn-block btn-outline-primary" role="button"
           aria-disabled="true">Создать задачу</a>
    </div>
    <div class="col col-lg-3" th:action="@{/}" th:object="${user}">
        <a th:href="@{/all_employees/{id} (id=*{employee.id})}" class="btn btn-lg btn-block btn-outline-primary" role="button"
           aria-disabled="true">Мой профиль</a>
    </div>
    <div class="col col-lg-3">
        <form id="logoutForm" action="/logout" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">Выйти</button>
        </form>
    </div>
</div>
</body>
</html>