<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Corporate Portal</title>
</head>
<body class="bg-light">

<div class="row">
  <div class="col col-lg-3">
    <a th:href="@{/all_tasks}" class="btn btn-lg btn-block btn-outline-primary" role="button"
       aria-disabled="true">все задачи</a>
  </div>
  <div class="col col-lg-3">
    <a th:href="@{/}" class="btn btn-lg btn-block btn-outline-primary" role="button"
       aria-disabled="true">На главную</a>
  </div>
</div>

<div>
  <div class="col" th:action="@{/show_task}" th:object="${task}">
    <div class="py-5 text-center">
      <h2>информация о задаче</h2>
    </div>
    <div class="container">
      <br/>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="text-justify"></th>
            <th class="text-justify"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-justify">Заголовок Задачи</td>
            <td class="align-middle"><span th:text="*{title}"/></td>
          </tr>
          <tr>
            <td class="text-justify">Дата создания</td>
            <td class="align-middle"><span th:text="${#temporals.format(task.created, 'dd-MMMM-yyyy, HH:mm')}"/></td>
          </tr>
          <tr>
            <td class="text-justify">Дата редактирования</td>
            <td class="align-middle"><span th:text="${#temporals.format(task.updated, 'dd-MMMM-yyyy, HH:mm')}"/></td>
          </tr>
          <tr>
            <td class="text-justify">Дата Завершения(дедлайн)</td>
            <td class="align-middle"><span th:text="${#temporals.format(task.completed, 'dd-MMMM-yyyy, HH:mm')}"/></td>
          </tr>
          <tr>
            <td class="text-justify">Подробности Задачи</td>
            <td class="align-middle"><span th:text="*{description}"/></td>
          </tr>
          <tr>
            <td class="text-justify">От кого задача</td>
            <td class="align-middle"><span th:text="*{whoGaveTask.name}"/></td>
          </tr>
          <tr>
            <td class="text-justify">Кому задача</td>
            <td class="align-middle"><span th:text="*{whoGivenTask.name}"/></td>
          </tr>
          <tr>
            <td class="text-justify">Статус Задачи</td>
            <td class="align-middle"><span th:text="*{status.getName()}"/></td>
          </tr>
          <tr>
            <td class="text-justify">Время на выполнение</td>
            <td class="align-middle"><span th:text="*{timeAllowed}"/></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="py-5 text-center">
          <div>
            <a th:href="@{/all_tasks/{id}/edit_task (id=${task.id})}"><button class="btn btn-lg btn-block btn-outline-primary">Редактировать</button></a>
          </div>
          <div>
            <a th:href="@{/all_tasks/{id}/delete (id=${task.id})}"><button class="btn btn-lg btn-block btn-outline-primary">Удалить</button></a>
          </div>
      </div>
      <div class="py-5 text-center">
        <div th:if="${task.status.name == 'Создан' && #authentication.principal.employee.id == task.whoGivenTask.id}">
          <a th:href="@{/all_tasks/{id}/start (id=${task.id})}"><button class="btn btn-lg btn-block btn-outline-primary">Начать</button></a>
        </div>
        <div th:if="${task.status.name == 'В процессе' && #authentication.principal.employee.id == task.whoGaveTask.id}">
          <a th:href="@{/all_tasks/{id}/complete (id=${task.id})}"><button class="btn btn-lg btn-block btn-outline-primary">Завершить</button></a>
          <a th:href="@{/all_tasks/{id}/cancel (id=${task.id})}"><button class="btn btn-lg btn-block btn-outline-primary">Отменить</button></a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>